
.donjon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-board-container {
    width: 80%;
    text-align: center;
}

.opponent-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding-top: 0.5rem;
}

.opponent-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-card {
    width: 65%;
}

.opponent-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/textures/wood.png);
    background-color: var(--background-wood-1);
}

/*.opponent-name {*/
/*    flex: 1;*/
/*}*/

/*.opponent-pv {*/
/*    flex: 1;*/
/*}*/

.progress-bar {
    width: 98%;
    height: 1rem;
    background-color: #222;
}

.progress-bar-fill {
    background-color: #5F5;
    height: 100%; /* This is important */
}

.fight-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.pre-fight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.fight-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fight-para {
    width: min-content;
    height: min-content;
}

.img-fight {
    width: 60%;
}

.resultat {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profil-card-donjon {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding-top: 1.5rem;
}

.profil-info-donjon {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/textures/wood.png);
    background-color: var(--background-wood-1);
}

.profil-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.choice-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5rem;
}

.choice-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10rem;
    cursor: pointer;
    transition: var(--transition-in);
    background-color: transparent;
}

.img-choice {
    width: 50%;
    border-radius: 10rem;
}

.img-choice:hover {
    border: 3px solid var(--border-button-2-hover);
}

.img-choice:active {
    border: 3px solid var(--border-button-1-active);
    transition: none;
}

.no-game-board-container {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===== MEDIA QUERIES (DESKTOP) ===== */

@media screen and (min-width: 1024px) and (max-width: 1200px) {

}

/* ===== MEDIA QUERIES (LAPTOP) ===== */

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .no-game-board-container {
        min-height: 40vh;
    }

    .img-card {
        width: 85%;
    }

    .img-fight {
        width: 60%;
    }

    .img-choice {
        width: 80%;
        border-radius: 10rem;
    }
}

/* ===== MEDIA QUERIES (TABLET) ===== */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .fight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-card {
        width: 85%;
    }

    .img-fight {
        width: 40%;
    }

    .img-choice {
        width: 80%;
        border-radius: 10rem;
    }
}

/* ===== MEDIA QUERIES (MOBILE) ===== */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .fight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-card {
        width: 95%;
    }

    .img-choice {
        width: 90%;
        border-radius: 10rem;
    }
}
