.loader-container {
    width: 100%;
    min-height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header-logo {
    max-width: 100%;
}
