.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-image: url(../assets/textures/wood.png);
    background-color: var(--background-wood-1);

    padding: 1rem;
    margin: 1.2rem;
}

.detail-img {
    padding: 0.5rem;
}

.img-role {
    width: 100%;
    border-radius: 5rem;
}

.detail-info {
    text-align: center;
    padding-top: 1.5rem;
}

.detail-name {
    font-size: 1.6rem;
}

.detail-role {

}

.detail-score {
    text-align: center;
}

.score {
    font-size: 1.6rem;
}

.ratio {

}

.detail-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.btn {
    margin: 1rem;
}

.no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 45vh;
}

/* ===== MEDIA QUERIES (LAPTOP) ===== */

@media screen and (min-width: 769px) and (max-width: 1023px) {


}

/* ===== MEDIA QUERIES (TABLET) ===== */

@media screen and (min-width: 481px) and (max-width: 768px) {

}

/* ===== MEDIA QUERIES (MOBILE) ===== */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .detail-action {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
